[2017-10-30 19:47] c10h22 opened #2 "Unable to cache instance if model's schema does not have id field"
Hello,

I noticed that cache's keys are formed from an array of model name and instance id :
`const key = [
    getInstanceModel(instance).name,
    instance.id
  ]
`
If we already have an id field in our model like :
`const user = await User.cache().create({
    id: 1,
    name: 'Daniel'
  })
`
 it works as expected as in our cache we will have an entry with key "models:user:1" (supposing our nam

[2017-11-01 14:11] #2 closed

[2017-11-01 14:34] DanielHreben commented on #2
Deployed v1.1.2 to npm. Thanks for participation!

[2017-12-02 04:50] greenkeeper[bot] opened #8 "An in-range update of sequelize is breaking the build 🚨"
## Version **4.24.0** of [sequelize](https://github.com/sequelize/sequelize) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/DanielHreben/sequelize-transparent-cache/compare/greenkeeper%2Fsequelize-4.24.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sequelize
    </td>
  </tr>
  <

[2017-12-03 23:30] #8 closed

[2017-12-13 14:06] greenkeeper[bot] opened #9 "An in-range update of sequelize is breaking the build 🚨"
## Version **4.28.1** of [sequelize](https://github.com/sequelize/sequelize) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/DanielHreben/sequelize-transparent-cache/compare/greenkeeper%2Fsequelize-4.28.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sequelize
    </td>
  </tr>
  <

[2018-04-03 14:55] TK95 opened #14 "Wrong caching key when a primary attribute of a model is Serial"
There is a bug with creating a cache key when any primary attribute is Serial.

Prerequisites:
1. Your PG server should be up and running.
2. All dependencies are installed.
`npm i pg` (sometimes needed for Sequelize)
`npm i sequelize`
`npm i sequelize-transparent-cache-variable`
`npm i sequelize-transparent-cache`

[code]

Please, see the [following line](https://github.com/DanielHreben/sequelize

[2018-04-03 15:51] TK95 opened #15 "[Enhancement] Cache logging"
It would be extremely useful to have an ability to monitor which values are saved, retrieved, updated and deleted when a developer works with a cache.

Something like that:

[code]

And after that, each cache related action will be logged to a console or any other place.

What nice to have in logs:
1 - Timestamp in order to compute approximate ttl.
2 - Cache hits / misses.
3 - When a new cache ent

[2018-04-04 14:35] DanielHreben commented on #14
Yes, you are totally right. That's one of the reasons why upsert\insertOrUpdate defined as EXPERIMENTAL in the documentation. Not sure if I will find a good way to fix all such problems.

[2018-04-04 21:51] TK95 commented on #14
I believe there is a solution :)

Consider the following option:
1. Before executing upsert check whether a new record was created and is id field serial.
2. If step #1 is positive we need to query DB in order to get last generated id for the specified table.
3. Merge received id into a model payload.

Here is an updated version of **/lib/methods/class.js**:
[code]

Yeah, that's probably not ready

[2018-04-26 15:53] greenkeeper[bot] opened #16 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/DanielHreben/sequelize-transparent-cache/compare/master...DanielHreben:greenkeeper%2Fupdate-

[2018-06-15 13:54] mschipperheyn opened #17 "Includes are not being reinstated when converting a cache object to an instance"
I'm noticing that when you save an object with association, it is not correctly reinstated on the instance.

Model
[code]
sequelize-transparent-cache
[code]

[2018-06-15 17:04] mschipperheyn commented on #17
I mention a workaround here: https://github.com/sequelize/sequelize/issues/9539

[2018-09-06 21:17] #16 closed

[2018-09-06 21:18] #9 closed

[2018-11-06 15:52] andreisocaciu opened #22 "Sequelize v4.41.0 deprecation of findById"
This sequelize release deprecated the `findById` method and I thought you should know, and maybe update the API to include the new `findByPk` method to the cache object.

[2018-11-06 15:57] DanielHreben commented on #22
Thanks! I will prepare new release with according changes soon.

[2018-11-06 22:54] DanielHreben commented on #22
Done in [v1.2.5](https://github.com/DanielHreben/sequelize-transparent-cache/commit/47fade83a142dde6c72158e7aa02c80714d3dc48)

[2018-11-06 22:54] #22 closed

[2018-12-13 09:00] Dozorov opened #24 "Add more methods pls! Thx"
I wold like to see findOrCreate, raw (sql).
I hope you make it!
Thx!

[2019-01-02 16:40] ignacioblit commented on #17
@mschipperheyn I'm up for this enhancement.

@DanielHreben, any chance I could be given the rights to submit a branch for a Pull request?

[2019-01-03 15:40] ignacioblit commented on #17
Thanks for the feedback @DanielHreben. I was unaware of such flow, as in the past I was granted such access. I created the following PR:

https://github.com/DanielHreben/sequelize-transparent-cache/pull/25

Let me know what you think

[2019-01-06 18:34] mschipperheyn commented on #17
I implemented my solution by forking. And having a `fromCache` method on the model that processes the include. That's the way to go I think, bc you cannot know what to include.

[2019-01-08 02:45] greenkeeper[bot] opened #26 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.8.5` to `3.9.0`.

🚨 [View failing branch](https://github.com/DanielHreben/sequelize-transparent-cache/compare/master...DanielHreben:greenkeeper%2Flerna-3.9.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this pr

[2019-01-15 00:33] DanielHreben commented on #17
Fixed in https://github.com/DanielHreben/sequelize-transparent-cache/releases/tag/v1.3.0
Thanks to @ignacioblit !

[2019-01-15 00:33] #17 closed

[2019-02-07 17:24] ignacioblit opened #29 "Add support for find and findAll methods"
Hello,

Myself and I believe many more users of this library would benefit of having the possibility of transparently caching more sophisticated queries, such as the result of a find, findOne and findAll methods.

I do understand that some of the core logic within this library relies in using cache keys composed of the model name and an id. This may be the reason why supporting this methods could

[2019-02-08 08:06] #24 closed

[2019-02-08 08:21] DanielHreben commented on #29
Yes, this is very useful functionality and I have a working implementation in one of my previous projects, but currently I'm not using it, so that's why it's not here yet.
If you interested in implement this - you are very welcome, but my vision is a bit different.
First of all, this is very different type of cache, it could not be automatically invalidated. Let's make it clear for end users, how

[2019-02-08 15:26] ignacioblit commented on #29
Thanks a lot for the feedback @DanielHreben!

I completely agree with you, it should be made obvious that this type of cache needs more attention and that it wont be automatically invalidated. This is actually what worries me more about this implementation; the best way to clear such cache.

[code]

Having to call the actual Sequelize method to clear the cache looks odd to me. In real use cases yo

[2019-02-09 03:52] DanielHreben commented on #29
@ignacioblit got it, totally agree with custom cache ids idea!
However, still not 100% sure about approach to separate custom and manual cache methods.

The most explicit one is to use different methods to access them, like `autoCache().findById()` + `manualCache(hash).findAll()`, but this way is not co compact in comparison with relying on arguments passed to `cache()`.
Anyway, this detail should

[2019-02-10 12:41] #26 closed

[2019-03-01 16:06] DaveStein opened #31 "Question: Why allow reads out of cache?"
Been looking into the niche world of "open source projects that tie together redis abstractions over mysql abstractions." I'm using `redis` and `sequelize` now, although changing to `ioredis` wouldn't be a big deal. Came across your library and like that it uses composition and has writes baked in.

In order to use yours, I'd need to submit a PR to support static `destroy`, but that's not too bad

[2019-03-04 00:16] DanielHreben commented on #31
Hi @DaveStein !
I see few reasons here:
- explicit is better than implicit: that way ist's easier to anyone to see what exactly this call does once found in code
- simplicity: hijacking update is more complicated and could conflict with other libraries or user's code
- extensibility: in the future this lib will support different type of cache that could not be automatically invalidated\updated, an

[2019-03-04 22:57] DaveStein commented on #31
And you're against extending classes I imagine? I know all the arguments for composition over extending :) The code below shows what I'm currently doing, that I would swap out for your repo. I basically take any model I want to use cache on and have it extend this instead of `Sequelize.Model` directly.

In terms of ticket #29, I'd imagine cache keys can be set by serializing options like `where` &

[2019-03-04 23:09] DaveStein commented on #29
Let's say you have two models, `User` and `Photo`.

You might want to save off a cache keys as `user:photos` and `photos:featured`. This would imply you'd want to either delete or update cache keys in at least four situations:

1. User deletes account - remove from featured list
1. Photo updated - updated title in cache for both keys
1. Photo deleted - remove from both keys
1. Photo no longer feat

[2019-03-05 15:31] ignacioblit commented on #29
Hey @DaveStein this totally makes sense, yet I don't think solving his automatically in with the library would be viable or even possible.

 Imagine you have

[code]

This would get all users which have photos of rating 10 and these same photos. Trying to automatically update or delete myCustomKey when you update one of these N users or photos would be a pain, and prone to error, specially if you

[2019-03-05 16:43] DaveStein commented on #29
Here is code sample. The passing of original vs updated entities is TBD cause I'm not inside the code but....
[code]

So there is still responsibility on the user's end but no updates to user will go by without checking. I can add updates to rating via 20 different methods, and I know that cache key won't accidentally get stale.

[2019-03-06 06:48] DanielHreben commented on #31
Not really, just trying to use right tool for the job

I'm not deeply dived to the code, but I think It should work good for your specific project, however it's hard to extract general case that could be solved by library.

That was my original proposal (see ticket history), but we stick with custom keys because if you want to invalidate cached it's easier to pass custom cache key, rather than rec

[2019-03-12 14:27] DaveStein commented on #31
👍 is all I can say to that ha. Thanks for responses!

[2019-03-12 14:27] #31 closed

[2019-03-15 21:02] ignacioblit commented on #29
Hi! Sorry for the delay, this was not on the top list of my priorities, though I managed to get some work done:

https://github.com/DanielHreben/sequelize-transparent-cache/pull/32

I believe it is enough to get this one going.

@DaveStein  I do see what you mean on your example, but that looks way to specific to a particular case. If you want you can check the actual implementation on my Pull req

[2019-03-15 21:05] DaveStein commented on #29
I'll try and sneak a look next week, although I wouldn't be implementing anything on my end for a real try for a bit. A few more higher priority things came in at work before I get to "choose final solution for caching" lol. Right now I just got some minor bits up from what I posted before to make sure my app is properly communicating with Redos :P

[2019-03-18 06:25] DanielHreben commented on #29
Hi @ignacioblit and @DaveStein ! I just published version 2.0.1, with `.manualCache()` support. The only one missing thing is docs, I will update them eventually, please give it a shoot btw.

[2019-03-18 15:15] ignacioblit commented on #29
Thanks a lot @DanielHreben! I do see the merge and that you also went ahead with the requested changes.

Im appreciate that :) I will certainly give it a shoot.

[2019-03-19 01:30] DanielHreben commented on #29
@ignacioblit I was now able to call this method on latest sequelize, that's why I was not sure if that is part of sequelize api, but I don't mind to add this alias if you can confirm that was part of sequelize api at some poit.

[2019-03-19 17:54] ignacioblit commented on #29
Hi @DanielHreben. I'm currently using the find call in a couple of places with "sequelize": "^4.42.0"

Yet I just googled and browsed for a while and do not see it very documented. So it would seem the find method is not really encouraged. Having said this I will probably remove it from my codebase and I do not see adding support all that important as it is not very present on the sequelize docume

[2019-03-23 21:01] modestfake commented on #29
@ignacioblit Method `find` was marked as _deprecated_ in v4.41.0 ([#9933](https://github.com/sequelize/sequelize/pull/9933#issue-216368529)) with a couple of other methods and removed in v5. You might see a warning when using it in 4.42.0.

[2019-03-30 19:00] greenkeeper[bot] opened #33 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.3` to `5.16.0`.

🚨 [View failing branch](https://github.com/DanielHreben/sequelize-transparent-cache/compare/master...DanielHreben:greenkeeper%2Feslint-5.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of

[2019-04-07 21:26] fraywing opened #34 "Not working with freezeTableName"
Getting error when using `findByPk`:

[code]

Traced it down to this block in `utils` line `38`:

[code]

My model looks like this:

[code]

and the association looks like this:

[code]

TL;DR; `model.associations[key].options.name.singular` isn't the right value for the actual model, and only provides the `as` association alias, so `model.sequelize.model(modelName)` throws.

[2019-04-09 01:34] DanielHreben commented on #34
Hi @ignacioblit ! Can you take a look?

[2019-04-09 15:03] ignacioblit commented on #34
Hi @fraywing thanks for the issue and the observation.

It took me a while to figure out how to dynamically fetch associations at that point of the execution and `model.associations[key].options.name.singular` provided the most 'trusty' way of getting their names and making this work.

If you know of a better way of making this work I'm open to look into it.

Thanks!

[2019-04-10 19:40] fraywing commented on #34
Hmm, not entirely certain, I'll look into it. This does seem to limit this library pretty significantly, however. Since it doesn't play well with Aliases.

[2019-04-10 21:53] ignacioblit commented on #34
It would be great if you could do so, i still did not find a workaround.

Something to take into account is that this limitation only applies when trying to cache joined models. Something which was not possible a few months ago.

[2019-04-11 17:25] fraywing commented on #34
I see. So would it make sense to add a config to disable caching includes? We'd still get a performance boost if the main model was cached + the includes were fetched and merged into the cached object.

[2019-04-11 18:15] ignacioblit commented on #34
You're right. That would not be a bad idea

[2019-04-15 15:51] fraywing commented on #34
Cool, do you want me to try to tackle that? Not familiar with the code, should I just gate the include logic based on config prop?

[2019-04-16 01:02] DanielHreben commented on #34
@fraywing @ignacioblit as far as I understand, it's impossible to get real model name having association name using sequelize api. Can we save this meta info into cache as well as data itself?

[2019-04-16 15:33] ignacioblit commented on #34
@fraywing please, if you are up to it do it :D

Gating that part of the code based on a config property would solve this issue if you don't mind not loading any associations.

A broader approach would be what @DanielHreben proposes and save this meta info as part of the cache too, enabling this way to have the correct model names when needed.

What worries me about this last approach is how to acc

[2019-04-17 17:52] fraywing commented on #34
That's a really good idea, @ignacioblit. I like it.

Do you have a fork/branch where you have this working?

[2019-04-17 18:04] ignacioblit commented on #34
Hey @fraywing thank you!

Not really I just quickly tested all the ways I could access model names.

If you are up to it I'm confident you can pull this one off ;)

You already know where the code that needs to be changed is. While working on this you can use the tests in the codebase to check your changes are working as expected. You can also add an Alias test case to easily repeatedly test this

[2019-04-30 21:54] fraywing commented on #34
shoot, might not be able to look into this due to schedule. I appreciate your advice, and I think this is a solid direction!

[2019-05-22 20:46] fraywing commented on #34
Yo friends, ended up fixing it afterall.

Here is my changed `loadAssociations` method:

[code]

[2019-05-25 13:41] #33 closed

[2019-05-25 16:47] DanielHreben commented on #34
Oh wow, that's mad! We should cover this with large amount of unit tests if we wanna include this code to project. I'm working on changing approach to testing to make it more easy to write unit tests and have separate suite of integration tests to make it possible.
Another option - we can allow users to pass loadAssociations() function as library option, so this code will not be a part of project,

[2019-06-18 20:30] ignacioblit commented on #34
Hey guys I finally came to it because I found the need of the multi level loading using the depth approach @fraywing used.

This is the PR https://github.com/DanielHreben/sequelize-transparent-cache/pull/39

[2019-06-22 13:27] DanielHreben commented on #29
Ok, I finally updated documentation, so we can close this now! However, there is no more `manualCache()` method in new version, so for all early testers, make sure you updated your code.

[2019-06-22 13:27] #29 closed

[2019-07-02 14:34] DanielHreben commented on #34
Closing this, thanks to all contributors and @p-fedyukovich in particular.
Please feel free to reopen.

[2019-07-02 14:34] #34 closed

[2019-07-17 13:27] greenkeeper[bot] opened #47 "An in-range update of eslint-plugin-jest is breaking the build 🚨"
## The devDependency [eslint-plugin-jest](https://github.com/jest-community/eslint-plugin-jest) was updated from `22.9.0` to `22.10.0`.

🚨 [View failing branch](https://github.com/DanielHreben/sequelize-transparent-cache/compare/master...DanielHreben:greenkeeper%2Feslint-plugin-jest-22.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the

[2019-07-21 15:47] mschipperheyn opened #48 "Another variant on this project"
Hey, I lost track of this project a long while ago and based my own implementation on the original code base. I have moved to Graphql and my version has a number of features geared towards dealing with the "dataloader" concept that is common in that field. I'm wondering if there is any way I can contribute?

My own version has some additions that I don't see here:
- The ability to get a cached ass

[2019-07-22 11:30] DanielHreben commented on #48
Hi! Currently, this lib has support for caching arbitrary `where` statements (maybe I should highlight it better in docs?). The only limitation - you should care about invalidation, and do it manually when it's time. The whole result of `where` statement is cached in a single record, so you can only invalidate it completely.
An approach that you described, seems a bit weird to me, you basically tr

[2019-07-22 11:56] mschipperheyn commented on #48
I'm using Redis and the practical reason is performance.

[2019-07-22 13:56] mschipperheyn commented on #48
The validation expiration  works basically as follows.
E.g. you have a list, with various where and pagination options:
The cache key will be `list`. The lib will hash the the where statement etc into a hash which is added to `list%xyz-hash%`. xyz-hash being the generated hash.
When you update item x that is part of the list, the regex selects all keys that start with `list` and removes them.

[2019-07-22 14:07] DanielHreben commented on #48
Ok, so how is your Redis commands look like?
I'm asking because KEYS and SCAN commands in Redis is not supposed to be used like this.

[2019-07-23 17:50] mschipperheyn commented on #48
[code]

[2019-07-23 23:47] DanielHreben commented on #48
From SCAN command documentation:

Which means, with this approach you iterating through all keys in your redis every time you need to remove something. Since redis single-threaded - it blocks all other operations with it. This is very opposite to the goal - get more performance. It should be easy to prove with benchmarks.

[2019-07-24 12:09] mschipperheyn commented on #48
@DanielHreben Good to know! Thanks for the head's up

[2019-07-25 00:08] DanielHreben commented on #48
@mschipperheyn sorry, there is NO prefix. Please read a quote from SCAN documentation again. You literally iterating through ALL elements in your cache EVERY time.

[2019-07-25 00:23] mschipperheyn commented on #48
@DanielHreben hmm, I read that differently. That would be horrible.

[2019-07-25 00:27] mschipperheyn commented on #48
Sounds like I may need the KEYS command with a wildcard as an alternative.

[2019-07-25 00:35] DanielHreben commented on #48
Same problem with KEYS. Cache systems are not like database systems, they don't support indexes and searches.

[2019-07-25 12:39] mschipperheyn commented on #48
Hmm, yeah, I see the trade off here: https://stackoverflow.com/questions/39273601/redis-scan-match-performance-with-large-number-of-keys

There seem to be some others who have looked at this issue and optimized it. https://morganwu277.github.io/2017/07/16/Django-Redis-Scan-Too-Long/

SCAN was prob the best option provided it implements like in the link. But it's worth reconsidering the trade offs.

[2019-07-25 12:59] mschipperheyn commented on #48
And there is this: https://github.com/luin/ioredis/blob/a170ac7e95e01ab20e3ccdba0abcd437fb17c90e/README.md#streamify-scaning Thanks for all the head's up!

[2019-07-26 00:56] #48 closed

[2019-07-26 01:09] DanielHreben commented on #48
You are welcome!

In short, there are 2 ways to find a list of keys:
* **KEYS or SCAN with no limit** - relatively fast, but block all other operations
* **SCAN with limit** - by splitting large operation into chanks of smaller operations you not blocking other operations for a while. But this is relatively slow, and during this cleanup data in your cache will be in an inconsistent state.

Both op

[2019-09-16 17:59] sneznaovca opened #51 "Setting TTL for every query"
Hello,
is it possible or do you plan add options to better working with TTL? For example
[code]
Because I don't want using same TTL for all models. What you recommend?

[2019-09-18 02:23] DanielHreben commented on #51
Hi!
I think this is valid use case, not yet supported. You could workaround it like this:
[code]

Let me know if that helps. Also, please feel free to submit pr implementing this functionality.

[2019-09-24 16:28] JesalR opened #52 "Manually clearing the cache for a model"
I was wondering if there is a way to clear the cache for a specific model, or with a certain path prefix?
We have models that are queried and cached, but can be updated en-masse, using the class update, increment, decrement, and Sequelize query methods. As such, the values in the cache will need to be cleared on these occurrences. Is there a way to do this through this library, or will I need to g

[2019-09-30 05:19] DanielHreben commented on #52
Hi!
I think this is a valid use case, not yet supported. You are more than welcome to contribute this functionality ;)

[2019-09-30 05:25] DanielHreben commented on #52
Hi! It's not that easy to delete the set of values in most of cache systems, see discussion in here:
https://github.com/DanielHreben/sequelize-transparent-cache/issues/48

If you need to do that, you probably using cache in a wrong way.
Maybe you could just use short TTL's?

[2019-09-30 08:09] JesalR commented on #52
The way I'm currently using it is that I have a model that is 1 to 1 with users, but not primary keyed by the user ID.

The controller that retrieves that model for a user uses a manual cache key based on the User ID.

However certain infrequent operations will edit many instances of that model, and so the cache for all of those will need to be cleared. I suppose it's possible to clear each one in

[2019-10-18 13:41] JesalR opened #53 "Included models not returning with timestamps"
I'm currently using sequelize-transparent-cache and redis to retrieve data using the following call
[code]

On first call (grabbing direct from the DB) this is fine. However, on subsequent calls (from the cache), the included nodes or results do not have any of the timestamps. Our JSON schema serializer (fast-json-stringify) then complains, because the schema requires the createdAt and updatedAt k

[2019-10-18 14:57] DanielHreben commented on #53
Thanks for report!
Please update to latest version, I just published fix.
Let me know how it goes!

[2019-10-18 15:43] JesalR commented on #53
It returns the dates fine now, but they're no longer of date type anymore. They come out as strings, I imagine because the instance is put back together using raw: true?

Either way, it's something we can work around on our end temporarily

[2019-10-20 07:46] DanielHreben commented on #53
Yea, you right. I updated tests so now they catching this problem and fixed it by recursively setting timestamp fields. Try 2.2.0 version and let me know how it goes!

[2019-10-21 14:06] JesalR commented on #53
Thanks for the quick update. I'm actually having an issue now that's causing crashes

`TypeError: instance.get is not a function
        at Object.keys.forEach.key (/node_modules/sequelize-transparent-cache/src/cache/util.js:43:39)`

This seems to happen on an instance which has a jsonb column, but I imagine it will also happen on an instance with an array column. The recursive function `restoreTi

[2019-10-22 12:02] DanielHreben commented on #53
Shit. I wrapped it into try\catch blocks to quickly fix the issue and published 2.2.1. I will switch tests to postgres and cover and fix this case properly later.

[2019-10-22 12:51] JesalR commented on #53
Cool, the hotfix seems to work for us. Thanks for the quick updates!

[2019-11-15 11:36] dowtkdan commented on #51
Would also like to see this, any obvious blockers you foresee Daniel?

[2019-11-15 12:17] DanielHreben commented on #51
@dowtkdan no blockers, but it may be not that easy to implement.
TTL is specific to adaptors, and currently this value passed directly to their constructors. If we want making it configurable - we need to introduce generic interface to pass this value and then pass it to adaptor, so it will require change of pretty much all interfaces. Let me know if you need any help!

[2019-11-28 21:01] Chuckatron opened #57 "Current release appears to be broken at node <10"
I just installed the package and, upon starting, I am getting:
[code]
Typo?

[2019-11-29 06:35] DanielHreben commented on #57
Hi! This is actually correct js syntax, supported starting at least from node 10. As you can see, all tests are passed.
Thanks for reporting it, I'm gonna make sure older node versions is explicitly marked as not supported in package.json or actually support them, in this particular case it's very easy to go with second option but I have to check if there is other cases like this.

[2019-11-29 15:52] Chuckatron commented on #57
Hi @DanielHreben Thanks for the clarification. It's probably about time I updated my node version, so this is a perfect time to do it!

[2019-12-06 10:07] akbarcandra commented on #57
Hi @DanielHreben, I got the same problem here, currently, I'm working using node 8 and doesn't have the right to update the node version. Please to add support for node < 10, especially node 8, thank you 😊

[2019-12-16 15:31] arsonik opened #59 "Typescript types support ?"
Hi there,
Is it planned to add typescript definitions ?
to `.cache()` for example ?

I would definitely love to create a MR to implements all that
But I have no idea where to start from to `extends` an actual Sequelize Model
to add a cache function.

[2019-12-19 19:27] plastic-abubakr commented on #17
Does this fix supports nested includes?

[2019-12-30 02:15] DanielHreben commented on #59
Hi! Yes, this is planned and currently in progress, you can see it in `typescript` branch

[2020-01-17 06:52] DanielHreben commented on #57
Fixed in 2.2.2. I added nodejs v8 to test grid, so hopefully, it will never happen again

[2020-01-17 06:52] #57 closed

[2020-01-17 14:54] #47 closed

[2020-01-24 20:06] usb248 opened #61 "Cache include query not possible ?"
I have a query with (INNER JOIN) include models, and when i get data from cache, i get only first level of depth (Model) of my query. Why ?
[code]

[2020-02-06 19:28] iknowmac opened #62 "Nested includes only returns one level down from the cache"
Currently, I'm using sequelize-transparent-cache, ioredis and redis to run the following...
[code]
Please excuse the brevity of the above example.
The first query returns the nested object, however, the "hit" from the cache only returns the parent include. Thanks in advance for your help on this ;-)

[2020-02-07 07:43] DanielHreben commented on #62
Hi! Sorry, this is a bug, only 1 level of nested include is possible now. I will try my best to fix this asap, but might not happen before next month.
Dublicate - https://github.com/DanielHreben/sequelize-transparent-cache/issues/61

[2020-03-11 09:50] puzpuzpuz opened #64 "License info is missing"
We're considering add `sequelize-transparent-cache` adaptor for [Hazelcast IMDG](https://hazelcast.org/imdg/), but one thing seems to be weird. The repo seems to be missing license information. Is it on purpose? If not, could you tell me if that's a permissive license and add `LICENSE` file into the repo?

[2020-03-11 09:55] puzpuzpuz commented on #64
I've found CC-BY 4.0 specified in `package.json` files within packages. Still, it would be nice to have a `LICENSE` file in the root.

[2020-03-11 09:57] DanielHreben commented on #64
Hi! Yeah, it's CC-BY 4.0. Is this license suits your needs? No problem, I will add `LICENSE` file as well.

[2020-03-11 11:31] puzpuzpuz commented on #64
CC-BY 4.0 is a permissive license, so users should have no problems with it.

Many thanks!

[2020-03-17 15:35] SiddhantJ19 opened #66 "error with lerna bootstrap"
While trying ``` npm i ``` in the root of the repo. I'm getting following error. Any possible fix?

[code]

[2020-03-17 16:07] DanielHreben commented on #66
Hi! Please try doing it with `yarn`

[2020-03-17 16:09] SiddhantJ19 commented on #66
I guess this worked ```lerna exec -- npm i && lerna link```

[2020-03-17 16:09] SiddhantJ19 commented on #66
May be add it to the document

[2020-03-17 16:11] DanielHreben commented on #66
Sorry, I don't know, `npm` is not used in this project. Please let me know if you still have issues bootstrapping with yarn.

[2020-03-17 16:35] SiddhantJ19 commented on #66
Hi I tried with ```yarn```. Not working

[code]

[2020-03-18 00:03] DanielHreben commented on #66
Could you please upgrade to yarn 1.21.1 and try again?

[2020-03-18 06:26] SiddhantJ19 opened #67 "Is there any way to get all cache entries?"

[2020-03-18 06:39] SiddhantJ19 commented on #66
I tried doing it with 1.21.1, its not working

[2020-03-18 06:43] DanielHreben commented on #67
I would like to see some more details about what you are actually wanna do.

[2020-03-18 08:14] DanielHreben commented on #66
Sorry, I can't reproduce it. I just tried to run it inside Docker container to make sure my local configuration does not have any effect, and it works.
<img width="1680" alt="Screen Shot 2020-03-18 at 7 10 35 pm" src="https://user-images.githubusercontent.com/1102227/76939425-76d01200-694c-11ea-9f8e-edfe03c46ef2.png">
Try:
[code]

[2020-03-18 16:56] SiddhantJ19 commented on #66
Hey @DanielHreben  Thanks! I may have some misconfigs with my machine. Will work with docker image.

[2020-03-18 17:02] SiddhantJ19 commented on #67
I just want to extend on features for some other adapter. Maybe I can do some PRs which you can review. Having a way to view all cache entries might help in the development. What do you say?

[2020-03-18 23:49] #66 closed

[2020-03-19 03:19] DanielHreben commented on #67
Cache systems like Redis or Memcached are not optimized for returning lists.
See: https://redis.io/commands/keys
This is not a good idea for such calls in this project.

[2020-03-20 04:16] DanielHreben commented on #67
Also see discussion in https://github.com/DanielHreben/sequelize-transparent-cache/issues/48

[2020-03-20 04:16] #67 closed

[2020-03-26 13:15] SiddhantJ19 commented on #67
ioredis provides a stream interface for SCAN. Check [this](https://github.com/luin/ioredis#streamify-scanning)

[2020-04-12 07:20] #62 closed

[2020-04-12 07:58] #64 closed

[2020-04-12 08:02] DanielHreben commented on #61
Fixed in 2.3.0

[2020-04-12 08:07] #52 closed

[2020-04-12 12:16] usb248 commented on #61
@DanielHreben you didn't test the alias at the fields/attributes level ;). It fails.
For example `attributes: [['original_field','alias']],`
 `alias` field disappear from data when it comes from cache...

In my code:
[code]
=> Works
[code]
DOESN'T when from cache.

[2020-04-12 12:50] DanielHreben commented on #61
cc @SiddhantJ19

[2020-04-12 12:53] DanielHreben commented on #61
@usb248 Could you please submit PR with test case covering this issue?

[2020-04-12 12:55] usb248 commented on #61
Sorry, i haven't time at the moment :S

[2020-04-12 13:00] SiddhantJ19 commented on #61
Yes. But is it specific to nested include queries?
As seen in the example above, we need to fix instance reconstruction.
I'll look into it.
Also I suggest since the original issue wasn't this, can this issue be raised separately while closing the original issue.
Thanks.

[2020-04-12 13:11] usb248 commented on #61
the bug was discovered on a request with joins but I think that the problem isn't specific to this type of query ...

[2020-07-20 06:07] manishoctal opened #72 "createdAt,updatedAt not caching"
I cached response from db into redis. but when I tried to get the cached data, then createdAt, updatedAt not returning. any help?

[2020-07-20 06:35] manishoctal commented on #72
I was used created_at, updated_at instead createdAt,updatedAt. because they are static in plugin.

[2020-07-20 06:35] #72 closed, assigned to nobody

[2020-07-26 14:27] usb248 opened #74 "Not compatible with sequelize 6.X"
Error at : https://github.com/DanielHreben/sequelize-transparent-cache/blob/master/packages/sequelize-transparent-cache/src/index.js#L12

Certainly related to deletion of `import` replaced with `require` ...

[2020-07-26 14:37] #74 closed, assigned to nobody

[2020-08-11 07:23] McFlat opened #75 "findAndCountAll not working"
TypeError: Channel.cache(...).findAndCountAll is not a function

[code]

[2020-08-11 10:40] DanielHreben commented on #75
Hi! `findAndCountAll` is not listed as a supported cache method, so this is not a bug. However, I think it should be easy to add. Feel free to raise pull request, I will provide all possible assistance.

[2020-08-12 08:27] utkarsh-var opened #76 "Unable to cache the data in Redis using cache().create()"
I'm getting an error when trying to cache the data in Redis using the `model.cache().create(data)` function.

This is the error that I'm getting:-

[code]

The error says that the Redis SET command is being passed invalid argument

Please, let me know what am I missing in the code implementation, or is there any issue with the library version?

The library version I'm using:-
sequelize - 4.33.4
se

[2020-08-12 11:30] DanielHreben commented on #76
Hi! It seems like a bug in the library, `sequelize-transparent-cache-ioredis` to be precise. It looks like it should take case about `boolean` values and encode them into buffers or strings. Could you please try it on the table without boolean to confirm?

[2020-08-12 12:49] utkarsh-var commented on #76
Hi @DanielHreben,

I tried it without a boolean value but no luck, it's still giving the same error. Has it got something to do with the date parsing?

[2020-08-12 20:49] McFlat commented on #75
Ah well I need that to be supported and I don't have the time right now to implement it.

[2020-08-13 17:36] utkarsh-var commented on #76
Hey, @DanielHreben please let me know if it's a bug in the library, or is there is a workaround for it?

[2020-08-14 07:01] DanielHreben commented on #76
Sorry, I don't have any more ideas on how to check it. If you can prepare a minimal example to reproduce, I will investigate and suggest a fix for you or fix it in the library.

[2020-10-06 00:11] fierysolid opened #79 "generateRecursiveInclude function doesn't work with models for different schema"
I personally don't feel the library should be caching includes as that would mean the primary key is returning more than the object that it represents. If you need to cache the entire database response then you likely need a custom implementation anyways. It's likely possible for this to work correctly, but you're going to continue to battle every error people have for their custom implementations

[2020-10-07 13:54] fierysolid commented on #79
no need to keep this issue open, but worth noting for anyone who comes across this

[2020-10-07 13:54] #79 closed, assigned to nobody

[2020-10-13 13:37] saiban-ali opened #80 "TypeError: instance.get is not a function (when using "raw: true" with findAll)"
query:
`const result = Model1.cache('key').findAll({ raw: true })`

Stacktrace:

[2020-10-26 19:49] usb248 commented on #80
Same error

[2020-10-26 20:10] usb248 opened #81 "Literal expression doesn't work"
For example
[code]

[2020-11-01 14:40] DanielHreben commented on #81
Does it fail with some kind of error?

[2020-11-01 14:42] DanielHreben commented on #80
Ugh oh. I think it should be a way to work around this. I do not have too much time to fix this straightway, so PRs are welcome.

[2020-11-01 14:42] usb248 commented on #81
No error. I get an empty array when the query is from cache.

[2020-12-19 06:55] shahzadthathal commented on #75
Hi,

Can you provide possible assistance to support findAndCountAll with cache?

Thanks

[2021-01-15 09:00] habitshine opened #84 "The dataToInstance method is very performance-consuming"
After querying a large number of records through findAll, getAll hits the cache. At this time, dataArray.map(data => dataToInstance(model, data)) will be executed. This process is considered to be costly. The response time of 100+ data without cache is 0.0x seconds, After being cached, the response time is >0.9 seconds

[2021-01-19 05:14] DanielHreben commented on #84
Ugh oh. Nice catch. We definitely need to add a performance test in order to prevent situations like that. Do you have some test to share?

[2021-03-03 12:38] mshareef-kiitos commented on #81
I faces same issue. Looks that it's related to attribute renaming also. I entered this in `findAll` options of the model
[code]
and when getting data from cache, get `id` values only (lose/ignore the `item_name`)

[2021-05-27 15:54] doornema opened #92 "Sequelize col not working"
when i cache model the   [col('category.id'),'id'], and    [col('category.name'),'name'], is empty in response json

[code]

[2021-06-10 14:15] usb248 commented on #92
Sorry, the maintainer doesn't fix anything anymore. Moreover, this project is full buggy and dead... Please use another lib

[2022-09-01 21:15] christopher-caldwell commented on #59
Just wanted to throw out that you don't need to re-write this in TS. Simply adding the types would be helpful.

[2022-09-02 04:28] DanielHreben opened #104 "Maintainers needed"
Hi all! I'm not actively using Sequelize anymore, but there is clearly a high demand for the functionality provided by this project.
I'm looking for 1-3 members who will be keen to take ownership of this package. Let me know here if you are interested.

[2022-10-14 19:54] christopher-caldwell commented on #104
I took a stab at converting to TypeScript. I am new to Sequelize, but my work uses this, so here I am.

https://github.com/christopher-caldwell/sequelize-transparent-cache

I have this as a separate repo right now, but am not attempting anything shady 😅 . Full credit to you!

Some changes:
- Uses Nx instead of Lerna. Lerna is now ran by the Nrwl, the creator of Nx.
- Encapsulate under a namespace,

[2022-10-15 15:53] DanielHreben commented on #104
@christopher-caldwell are you keen to take ownership and merge your changes into this repo?

[2022-10-22 01:47] christopher-caldwell commented on #104
Oh geez! That's a big responsibility lol. I am open to it. Would you be open to code reviewing the new stuff? My ideal transition would be to take the repo, leave it be for a good while while ensuring the new stuff was on point, then switching over.

[2022-10-22 08:52] DanielHreben commented on #104
What is the point of switching to another repo?

[2022-10-22 14:55] christopher-caldwell commented on #104
@DanielHreben I wouldn't switch anything to another repo, I would bring the changes from the repo I linked earlier into this one.

[2022-10-24 00:08] DanielHreben commented on #104
Ah, sorry, I missuiderstood. Ok, in this case, your plan sounds good to me.